*.sh
*.png
*.ico
*.icns
*.svg
*.txt
*.js
*.jpg
*.rs
*.toml
*.hbs
*.npmrc
*.lua
*.py
*.lock

Cargo.lock

*.proto

**/.gitignore
**/.gitkeep
**/.git
**/.DS_Store
**/.prettier*
**/.env*
**/.nvm
**/dump
**/*.conf
**/browserslist

# svelte output
**/.svelte-kit
**/build

# svelte input
**/.svelte

# submodules
**/.gitmodules

# husky scripts
.husky/*

*.log
*.log.*

pnpm-lock.yaml

Readme.md

.title
.order

CNAME
*.lockb

# images
*.webp
