*.sh
*.png
*.ico
*.icns
*.svg
*.txt
*.js
*.jpg
*.rs
*.toml
Cargo.lock

*.proto

**/.gitignore
**/.gitkeep
**/.git
**/.DS_Store
**/.prettier*
**/.env*
**/.nvm
**/dump
**/*.conf
**/browserslist

*.swift
*.plist
*.usda
*.rcprojectdata
*.xcworkspacedata
*.xcsettings
*.resolved
*.pbxproj

# jsoneditor script
jsoneditor.js

# svelte output
**/.svelte-kit

# submodules
**/.gitmodules

libs/unreal/rship-unreal/*
libs/touchdesigner/rship-touchdesigner/*
libs/coco/rship-coco/*
libs/ableton/src/lib/max4node/*

# husky scripts
.husky/*