# Add files here to ignore them from prettier formatting
dist/**/*
out/**/*
generated/**/*
**/*.gen.*
node_modules/**/*
coverage/**/*
*.snap

*.sh
*.png
*.ico
*.icns
*.svg
*.txt
*.js

**/.gitignore
**/.gitkeep
**/.git
**/.DS_Store
**/.prettier*
**/.env*
**/.nvm
**/dump
**/*.conf
**/browserslist
# .vscode/
**/mongoReplPreset/globalConfig.json
# c# dependency json
**/bin/*.deps.json
# jsoneditor script
jsoneditor.js
libs\ableton\src\lib\max4node\max_device\main.js
**/.svelte-kit

# submodules
**/.gitmodules

libs/unreal/rship-unreal/*
libs/touchdesigner/rship-touchdesigner/*
libs/coco/rship-coco/*
libs/ableton/src/lib/max4node/*
